################################################################################
###                                                                          ###
###   AS215956.net - Pathvector Updater                                      ###
##########################################                                   ###
###                                                                          ###
###   File      : systemd timer                                              ###
###   Version   : 2024.12-001                                                ###
###   Copyright : 2024 (and beyond) - Dennis de Houx, AS215956, All In One   ###
###   Author    : Dennis de Houx <dennis@dehoux.be>                          ###
###   License   : MIT                                                        ###
###                                                                          ###
################################################################################

[Unit]
Description=Daily timer for %i

[Timer]
OnCalendar=*-*-* 3:23:00
Unit=%i.service

[Install]
WantedBy=timers.target